@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #88ABFF;
}
::selection{
    color: #fff;
    background: #88ABFF;
}
.wrapper{
    margin: 50px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li {
    height: 250px;
    list-style: none;
    border-radius: 5px;
    padding: 15px 20px 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.05 );
}
.add-box, .icon, .bottom-content,

.popup, header, .settings .menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-box{
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}
.add-box .icon{
    height: 78px;
    width: 78px;
    color: #88ABFF;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    border: 2px dashed #88ABFF;
}
.add-box p {
    color: #88ABFF;
    font-weight: 500;
    margin-top: 20px;
}
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note .details{
    max-height: 165px;
    overflow-y: auto;
}
.note .details::-webkit-scrollbar,

.popup textarea::-webkit-scrollbar{
    width: 0;
}
.note .details:hover::-webkit-scrollbar,

.popup textarea:hover::-webkit-scrollbar{
    width: 5px;
}